/*************************
MOBILE STYLING
*************************/
body{
	margin: 0;
	padding: 0;
}
	
h1 {
	font-family:"Cabin";
	font-weight:normal;
	font-size: 25px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Cabin";
   font-weight: 300;
   font-size: 20px;
   text-align: center;
   margin: 0;
   padding: 5px 0 5px 0;
}

h3 {
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 14px;
   text-align: center;
   margin: 0px 0;
   padding: 0;
}

.js-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
}
.js-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.wrapper{
	padding-top:20px;
	padding-bottom:20px;
}
/*************************
HOME PAGE
*************************/

#home{
	background:url('../img/slide1_m.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	margin: 0;
	background-size: cover;
	text-align: center;
}

.home-btn{
	display:hidden;
}

#home h1{
	font-size:36pt;
	padding-bottom:0px;
}

#home h3{
	font-size:24px;
}

#logo{
	height:100px;
	width:auto;
}

.date{
   font-family:"Open Sans";
   font-weight: 300;
   font-size: 20pt;
   text-align: center;
}

.js-video{
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
}

/*************************
INFO PAGE
*************************/

#info{
	overflow:hidden;
}

.img-zoom{
	width: 400px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
}


#tickets{
	z-index:8;

}
#about{
	position:relative;
	color: #333333;
	margin: 10px 5px 10px 5px;
	padding-top:0px;
	z-index:8;
}

#about h2 a{
	padding-top:0px;
	text-decoration:none;
	color: #333;
}

#about h3{
	margin:0;
	padding-top:0px;
}

#about .heading {
	font-size: 0px;
	font-weight: bold;
}


/*************************
SCHEDULE 
*************************/

#schedule{
	background: url('../img/slide3_m.jpg') 50% 0 no-repeat fixed;
	z-index:3;
	color: #fff;
	background-size: cover;
	line-height: 170%;
	text-align: center;
	margin-bottom:20px;
}

#schedule table {
	font-family:"Cabin";
   	font-weight: normal;
   	font-size: 15px;
  	margin: 5px 0;
 	padding: 0;
 	display: inline-block;
}

#schedule table td{
	text-align: left;
	padding-bottom:10px;
}



/*************************
SPONSORS
*************************/

#sponsors{
	background-color: #FFF;
	color: #333333;
	text-align: center;
	width:100%;
}

#sponsors a {
	text-decoration: none;
	color:#05B8CC;
}

#sponsors a .hariri{
	text-decoration: none;
	color:#6F4242;
}

#sponsors a .epic{
	text-decoration: none;
	color:#D80000;
}

#sponsors a .undergradfee{
	text-decoration: none;
	color:#000;
}

#sponsors a:visited .hariri{ text-decoration: none; color:#6F4242; }

#sponsors a:visited .epic{ text-decoration: none; color:#D80000; }

#sponsors a:visited .gai{ text-decoration: none; color:#05B8CC; }

#sponsors a:visited .undergradfee{ text-decoration: none; color:#000; }

.epic{
	font-size:15px;
	font-weight:300;
}
/*************************
FREE STUFF PAGE
*************************/

#freestuff{
	background: url('../img/slide5_m.jpg') 50% 0 no-repeat fixed;
	margin: 0 auto;
	color: #fff;
	background-size: cover;
}

#freestuff span {
	font-size:20px;
}


.prizes{
	width:90%;
	display:inline-block;
	border-left:4px solid white;
	border-right:4px solid white;
	margin-bottom:0px;
}

.prizes h3{
	font-family:"Open Sans";
	padding-bottom:0px;
}

.prizecol1, .prizecol3, .prizecol5{
	border-bottom:0px solid white;
	padding-top:0px;
	position:relative;
	background-color:#07c2db;
}

.prizecol2, .prizecol4, .prizecol6{
	padding-top:0px;
	background-color:#00dd8c;
}




/*************************
SOCIAL MEDIA LINKS
*************************/

#freestuff .bottom{
	position:absolute;
	bottom:0px; left:0; right:0;
	text-align: center;
}

.social-links{
	height:20px;
	padding:0 0px 10px 0px;
}

.pasthack{
	margin-left: auto ;
	margin-right: auto ;
	width: 300px;
	height:auto;
	background-color:#00dd8c;
	border-radius: 6px;
	z-index:7;
}


