/*************************
GENERAL STYLING
*************************/

body{
	margin: 0;
	padding: 0;
}

h1 {
    font-family:"Allerta";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Allerta";
   font-weight: 300;
   font-size: 40px;
   text-align: center;
   margin: 0;
   padding: 0 0 40px 0;
}

h3 {
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 16px;
   text-align: center;
   margin: 5px 0;
   padding: 0;
}

ul { 
	list-style-type: none;
	padding:0;
}
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }

.fullpage{
	height:100vh;
	position:relative;
	min-height: 600px;
	width:100%;
	overflow:hidden;
}


.halfpage{
	height:50vh;
	position:relative;
	min-height:400px;
	z-index:4;
}

.bottom-arrow{
	position:absolute;
	bottom:25px;
	margin: auto;
	left:0; 
	right:0;
	width:0;
	height:0;
	border-left:40px solid transparent;
	border-right:40px solid transparent;
	border-top:30px solid #00dd8c;
	opacity:0.9;
}

/*************************
HEADER, SIDEBAR 
*************************/

header, #sidebar {
	width: 175px;
	height: 475px;
	position: fixed;
	margin:auto;
	top:25px; left:25px;
	z-index: 7;
	border-bottom-left-radius: 87.5px;
	border-bottom-right-radius: 87.5px;
	border-radius: 87.5px;
}

#sidebar{
	background-color:#00DD8C;
	z-index: 6;
}

#fillbar{
	position:fixed;
	width:175px;
	height:175px;
	min-height: 175px;
	top:25px; left:25px;
	z-index:4;
	background-color:#07C2DB;
	border-bottom-left-radius: 87.5px;
	border-bottom-right-radius: 87.5px;
	border-radius: 87.5px;
	z-index:7;
}
#logo{
	width:175px;
	position:relative;
	z-index:8;

}

.event{
	padding-top:24px;
	padding-right:40px;
	padding-left:40px;
	padding-bottom:0px;
	border-radius:100px;
	background-color:#FAFAFA;
}

#nav li a{
	text-decoration:none;
	font-size:20px;
	color:#fff;
	font-family:"Allerta";
	font-weight: bold;
	opacity:0.8;
}

#nav li{
	margin-top:28px;
	text-align:center;
}

#nav li a.active { 
	border-bottom: 2px solid #ffffff;
	opacity:1;
}

#nav li a:hover {
	opacity:1;
}

/*************************
HOME PAGE
*************************/

#home{
	background:url('../img/slide1.jpg') 50% 0 no-repeat fixed;
	z-index:5;
	color: #fff;
	margin: 0;
	background-size: cover;
	text-align: center;
}

#home h1{
	font-size:65px;
	padding-bottom:10px;
}

#home h3{
	font-size:24px;
}
.date{
   font-family:"Open Sans";
   font-weight: 300;
   font-size: 48px;
   text-align: center;
}

.js-video{
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

/*************************
INFO PAGE
*************************/

.info-wrapper{
	position:relative;
	overflow:hidden;
}

.wrapper{
	margin: 0 200px 0 200px;
	min-width:500px;
 	position: absolute;
  	top: 35px; right: 0; bottom: 40px; left: 0;
}

#tickets h2{
	padding-top:40px;
}

.ticket{
	position:absolute;
	width:400px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	margin-top:80px;
}

#GAI-logo{
	position:absolute;
	z-index:4;
	width:1200px;
	margin:auto;
	height:auto;
	right:-600px; 
	left:0;
	top:500px;
	opacity:0.3;
/*	display:none;*/
}

.ticketBlue{
	top:80px;
	left:60px;
    -ms-transform: rotate(15deg) translate(15%,10%); 
    -webkit-transform: rotate(15deg) translate(15%,10%); 
    transform: rotate(15deg) translate(15%,10%);
}

#tickets::after{
	content:"Eventbrite site registration";
	position:relative;
	display:block;
	text-align:center;
	top:280px;
	right:100px;
	font-family: "Open Sans";
   font-weight: normal;
   font-size: 16px;
}

.ticketGreen{
	top:60px;
    -ms-transform: rotate(-7deg); 
    -webkit-transform: rotate(-7deg); 
    transform: rotate(-7deg);
}

.img-zoom{
	width: 400px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
}

.transition {
    -webkit-transform: scale(1); 
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#about{
	position:relative;
	color: #333333;
	text-align: center;
	margin: 0 220px 0 220px;
	padding-bottom:50px;
	padding-top:100px;
}


#about h2 a{
	padding-top:50px;
	text-decoration:none;
	color: #333;
}

#about h3{
	margin:0;
	padding-top:30px;
}

#about .heading {
	font-size: 20px;
	font-weight: bold;
}

#about .col .col-1 { float:left; width:28%; margin-left: 1% }
#about .col .col-2 { float:left; width:32%; margin-left: 4% }
#about .col .col-3 { float:right; width:34%; margin-left: 1% }

/*************************
SCHEDULE 
*************************/

#schedule{
	background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
	z-index:5;
	color: #fff;
	background-size: cover;
	line-height: 250%;
	text-align: center;
}

#schedule h2 {
	padding-top:50px;
}
#schedule table {
	font-family:"Allerta";
   	font-weight: normal;
   	font-size: 20px;
  	margin: 5px 0;
 	padding: 0;
 	display: inline-block;
}

#schedule table td{
	text-align: left;
	padding-left:40px;
}

#spinning{
}

.clock{
	width:200px;
	height:auto;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	left:700px;
	right:0;
	margin-top:200px;
}
#clock-cover{
	width:200px;
	height:200px;
}

/*************************
SPONSORS
*************************/

#sponsors{
	background-color: #FFF;
	color: #333333;
	text-align: center;
	width:100%;
}

#sponsors a {
	text-decoration: none;
	color:#05B8CC;
}

#sponsors a .hariri{
	text-decoration: none;
	color:#6F4242;
}

#sponsors a .epic{
	text-decoration: none;
	color:#D80000;
}

#sponsors a .undergradfee{
	text-decoration: none;
	color:#000;
}

#sponsors a:visited .hariri{ text-decoration: none; color:#6F4242; }

#sponsors a:visited .epic{ text-decoration: none; color:#D80000; }

#sponsors a:visited .gai{ text-decoration: none; color:#05B8CC; }

#sponsors a:visited .undergradfee{ text-decoration: none; color:#000; }

.epic {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 300;
}

.undergradfee {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 300;
}


.hariri {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 300;
}

.terrapin{
	width:230px;
}

.silly{
	width:180px;
}
.gai {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 300;
}

.col .col-1-2 { float:left; width:30%; padding: 0 0 0 20%; height: 120px;}
.col .col-2-2 { float:left; width:30%; padding: 0 20% 0 0; height: 120px;}

/*************************
FREE STUFF PAGE
*************************/

#freestuff{
	background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	color: #fff;
	background-size: cover;
}

#freestuff span {
	font-size:20px;
}

#freestuff .wrapper{
	text-align:center;
	position:relative;
}

.prizes{
	width:200px;
	display:inline-block;
	border-left:4px solid white;
	border-right:4px solid white;
	margin-top:30px;
}

.prizes h3{
	font-family:"Allerta";
}

.prizecol1, .prizecol3, .prizecol5{
	border-bottom:10px solid white;
	padding:10px;
	position:relative;
	background-color:#07c2db;
}

.prizecol2, .prizecol4, .prizecol6{
	height:150px;
	padding-top:50px;
	background-color:#00dd8c;
}

.prizecol2 h3{
	text-align:left;
	padding-left:20px;
}



/*************************
SOCIAL MEDIA LINKS
*************************/

#freestuff .bottom{
	position:absolute;
	bottom:30px; left:0; right:0;
	text-align: center;
}

.social-links{
	height:50px;
	padding:10px;
}


@media all and (max-width: 1000px) {
  #logo { display: none; }
}