*{
	font-family:'Open Sans';
}

p, h5{
	font-size:1.1em;
}

h3{
	padding:10px;
}
.banner{
	height:100px;
	border-bottom:#1AC6E2 6px solid;
	vertical-align: middle;
	color:#1AC6E2;
}

.banner-img{
	height:90px;
	width:auto;
}

.prize-pic{
	width:50%;
	height:auto;
	padding:10px;
}

.logo{
	min-width:100px;
}

.awards{
	min-height:50px;
}

.carousel{
	margin: 0 15% 5% 15%;
}

.social-links-bar{
	top: 100px; bottom:10; left:0; right:0;
	text-align: center;
}

.social-links-bar p{
	margin-top: 10px;
}

.social-links{
	height:45px;
	padding:0 10px 0 10px;
}

.pasthack{
	margin-left: auto ;
	margin-right: auto ;
	width: 300px;
	height:auto;
	background-color:#00dd8c;
	border-radius: 6px;
	z-index:7;
	color:#FFFFFF;
}