body{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFF;
}

h1 {
    font-family:"Allerta";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Allerta";
   font-weight: 300;
   font-size: 40px;
   text-align: center;
   margin: 0;
   padding: 0 0 40px 0;
}

h3 {
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 16px;
   text-align: center;
   margin: 5px 0;
   padding: 0;
}

ul { 
	list-style-type: none;
}
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }


header, #sidebar {
	width: 175px;
	height: 475px;
	position: fixed;
	margin:auto;
	top:25px; left:25px;
	z-index: 7;
	border-bottom-left-radius: 87.5px;
	border-bottom-right-radius: 87.5px;
}

#sidebar{
	background-color:#00DD8C;
	z-index: 6;
}

#fillbar{
	position:fixed;
	width:175px;
	top:25px; left:25px;
	z-index:4;
	background-color:#07C2DB;
	border-bottom-left-radius: 87.5px;
	border-bottom-right-radius: 87.5px;
	z-index:7;
}
#logo{
	width:175px;
	position:relative;
	top:5px;
	height:auto;
	z-index:8;
}
#GAI-image-div{
	max-width:1000px;
	overflow:hidden;
}
#GAI-logo{
	position:absolute;
	z-index:3;
	width:1200;
	margin:auto;
	height:auto;
	right:0; left:0;
	top:500px;
	opacity:0.3;
/*	display:none;*/
}

.event{
	padding-top:24px;
	padding-right:40px;
	padding-left:40px;
	padding-bottom:0px;
	border-radius:100px;
	background-color:#FAFAFA;
}

.fullpage{
	height:100vh;
	position:relative;
	min-height: 600px;
	width:100%;
	overflow:hidden;
}


.halfpage{
	height:50vh;
	position:relative;
	min-height:400px;
	z-index:4;
}

.info-wrapper{
	position:relative;
}
.wrapper{
	margin: 0 200px 0 200px;
	min-width:500px;
 	position: absolute;
  	top: 35px; right: 0; bottom: 50px; left: 0;
}

#tickets h2{
	padding-top:20px;
	padding-bottom:10px;
}
.bottom-arrow{
	position:absolute;
	bottom:25px;
	margin: auto;
	left:0; 
	right:0;
	width:0;
	height:0;
	border-left:40px solid transparent;
	border-right:40px solid transparent;
	border-top:30px solid #07C2DB;
	opacity:0.7;
}

#nav li a{
	text-decoration:none;
	font-size:20px;
	color:#fff;
	font-family:"Allerta";
	font-weight: bold;
	opacity:0.8;
	text-align:center;
}

#nav li{
	margin-top:20px;
}

#nav li a.active { 
	border-bottom: 2px solid #ffffff;
	opacity:1;
}

#nav li a:hover {
	opacity:1;
}

#home{
	background:url('../img/slide1.jpg') 50% 0 no-repeat fixed;
	z-index:5;
	color: #fff;
	margin: 0;
	background-size: cover;
	text-align: center;
}

#home h1{
	margin-top:100px;
	padding:30px;
	font-size:65px;
}

#home h3{
	font-size:24px;
}
.date{
   font-family:"Open Sans";
   font-weight: 300;
   font-size: 48px;
   text-align: center;
}

#about{
	color: #333333;
	width:1000px;
	margin: 0 auto;
	text-align: center;
	margin: 0 200px 0 200px;
	padding-bottom:50px;
}


#about h2 a{
	padding-top:25px;
	text-decoration:none;
	color: #333;
}

#about h3{
	margin:0;
}

#about .heading {
	font-size: 20px;
	font-weight: bold;
}

#schedule{
	background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
	z-index:5;
	color: #fff;
	background-size: cover;
	line-height: 250%;
	text-align: center;
}

#schedule h2 {
	padding-top:50px;
}
#schedule table {
	font-family: "Open Sans";
   	font-weight: normal;
   	font-size: 20px;
  	margin: 5px 0;
 	padding: 0;
 	display: inline-block;
}

#schedul table td{
	text-align: left;
}

#sponsors{
	background-color: #FFF;
	color: #333333;
	text-align: center;
	width:100%;
}

#sponsors a {
	text-decoration: none;
	color:#05B8CC;
}

#sponsors a .hariri{
	text-decoration: none;
	color:#6F4242;
}

#sponsors a .epic{
	text-decoration: none;
	color:#D80000;
}

#sponsors a .undergradfee{
	text-decoration: none;
	color:#000;
}

#sponsors a:visited .hariri{ text-decoration: none; color:#6F4242; }

#sponsors a:visited .epic{ text-decoration: none; color:#D80000; }

#sponsors a:visited .gai{ text-decoration: none; color:#05B8CC; }

#sponsors a:visited .undergradfee{ text-decoration: none; color:#000; }

.epic {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 300;
}

.undergradfee {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 300;
}


.hariri {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 300;
}

.gai {
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 300;
}

#prizes{
	background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	color: #fff;
	background-size: cover;
}

#prizes h2{
	padding-top:140px;
}
#prizes span {
	font-size:20px;
}

#prizes .wrapper{
	text-align:center;
}
#prizes .col{
	display:inline-block;
	width:200px;
}
#prizes .bottom{
	position:absolute;
	bottom:30px; left:0; right:0;
	text-align: center;
}


#about .col .col-1 { float:left; width:28%; margin-left: 1% }
#about .col .col-2 { float:left; width:32%; margin-left: 4% }
#about .col .col-3 { float:right; width:34%; margin-left: 1% }

/*Two column div*/
.col .col-1-2 { float:left; width:30%; padding: 0 0 0 20%; height: 120px;}
.col .col-2-2 { float:left; width:30%; padding: 0 20% 0 0; height: 120px;}


@media all and (max-width: 1000px) {
  #logo { display: none; }
}